name: Android CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Decode Keystore
      env:
        ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
        ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
        ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
        ANDROID_STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
      run: |
        echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > ${{ github.workspace }}/upload-keystore.jks
        echo "storeFile=${{ github.workspace }}/upload-keystore.jks" > keystore.properties
        echo "storePassword=$ANDROID_STORE_PASSWORD" >> keystore.properties
        echo "keyAlias=$ANDROID_KEY_ALIAS" >> keystore.properties
        echo "keyPassword=$ANDROID_KEY_PASSWORD" >> keystore.properties

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Upload Release APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: app/build/outputs/apk/release/app-release.apk
